<%= simple_form_for @post, html: {multipart: true} do |f| %>

  <div class="field">
    <%= f.input :content, :as => :text %>
  </div>
  <div class="field">
    <%= f.input :image, :as => :file %>
  </div>
  <br />
  <div class="actions">
    <%= f.button :submit, "Create Squmble" %>
  </div>
<% end %>
